<img src="{{item.coverImage}}"/>
    <ul>
        <li>{{item.title}}</li>
        <li>{{item.author}}</li>
        <li>{{item.releaseDate}}</li>
        <li>
        {{#each item.keywords}}
        	{{keyword}}
        {{/each}}
        </li>
    </ul>
<button class="delete">Delete</button>